body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', 'Lato', Arial, sans-serif;
  font-weight: 300;
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 !important;
  padding: 0 !important; }

p {
  margin: 0; }

.container {
  max-width: 960px; }

.cols {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start; }

.col {
  -ms-flex: 1 1 100%;
  flex: 1 1 100%; }

.col-2 {
  max-width: 50%; }

.col-3 {
  max-width: 33.3%;
  max-width: calc(100%/3); }

img {
  max-width: 100%; }
  img.hero-image {
    padding-right: 2em;
    padding-top: .5em; }

.navbar {
  margin-bottom: 0; }

.navbar-default {
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 8px; }
  .navbar-default .navbar-brand {
    font-family: 'Roboto';
    font-size: 25.888px;
    color: #555; }
  .navbar-default ul {
    text-transform: uppercase;
    font-size: 16px; }
    .navbar-default ul li a {
      color: #555 !important; }

.section {
  padding: 40px 0; }
  .section:first-of-type {
    margin-top: 0px; }
  .section:last-of-type {
    margin-bottom: 0; }
  .section__title {
    font-size: 25.888px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: .2em !important; }
    .section__title--big {
      font-size: 41.886784px;
      margin-bottom: 0 !important; }
  .section__subtitle {
    text-transform: uppercase;
    margin-bottom: .65em;
    color: #888; }
  .section__line {
    display: block;
    width: 24px;
    height: 2px;
    background: #555;
    margin-bottom: 2em !important; }
  .section .text {
    margin-bottom: .6em; }
    .section .text--big {
      font-size: 1.15em;
      margin-bottom: 2.5em;
      text-align: justify; }

.button {
  display: block;
  background: #555;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: .5em .9em;
  font-size: 1.2em; }

select {
  background: none;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .5em 10em .5em 1em;
  margin-top: .6em;
  margin-bottom: 1.5em;
  font-size: 14px; }

textarea {
  display: block;
  width: 100%;
  background: #f4f4f4;
  border: 1px solid #ddd;
  outline: none;
  padding: .5em;
  resize: vertical;
  margin-bottom: 1.5em !important; }

.comment__name {
  font-size: 1.25em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: .5em; }

.comment__date {
  display: inline-block;
  color: #888;
  margin-left: .75em; }

.comment__text {
  margin-top: -.5em;
  margin-bottom: 2em; }

.product {
  padding: 0 0.45em; }
  .product:first-of-type {
    margin-left: -0.45em; }
  .product:last-of-type {
    margin-right: -0.45em; }
  .product__info {
    padding: 1em .75em 0; }
  .product__name {
    margin-bottom: .25em; }
    .product__name a {
      color: #555;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.2em; }
      .product__name a:hover {
        text-decoration: none; }
  .product__category {
    color: #888;
    font-size: .9em; }
  .product__price {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.2; }

.banner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("https://unsplash.it/1920/400?blur");
  height: 400px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-family: 'Roboto'; }
  .banner__title {
    font-size: 64px; }
  .banner__subtitle {
    font-size: 48px; }

footer {
  text-align: center;
  padding: 1.2em;
  border-top: 1px solid #ddd;
  font-family: 'Roboto';
  margin-top: 2em; }

/*# sourceMappingURL=app.css.map */
